.tools {
  padding: 1px 8px;
  text-align: right;
  position: relative;
} 

.tools .wrap {
  float: right;
  position: relative;
}

.tools a {
  font-size: 12px;
  text-decoration: none;
  margin: 0 10px;
  color: inherit;
  display: block;
  float: left;
}

.clear {
  clear:  both;
}

.highlight-wrapper {
  padding-bottom: 24px;
}  

.highlighted {
  overflow-x: auto;
}

.highlighttable {
  border: 0 !important;
  margin-bottom: 0 !important;
}

.highlighttable td {
  padding: 3px !important;
}

.highlighttable pre {
  margin-bottom: 5px !important;
  padding: 1em !important;
  background-color: transparent;
  line-height: 125%;
}

.raw {
  display: none;
}

#wppygments-about-dialog p {
  margin-bottom: 0.3em;
}

#wppygments-about-dialog a {
  color: inherit;
}